# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/

# Static files (si usas collectstatic)
staticfiles/

# VS Code / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations (opcional, yo NO lo recomiendo borrar)
# */migrations/*
# !*/migrations/__init__.py
