# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Django / local DB
db.sqlite3
*.sqlite3
media/

# Secrets / local config
.env
.env.*
!.env.example
!.env.postgres.example
staticfiles/

# macOS
.DS_Store

# IDE/editor
.vscode/
.idea/

# Logs
*.log

# PostgreSQL local files/backups
*.dump
*.sql
*.backup