{% extends 'base.html' %}
{% load static %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<div class="hero mv-single-hero"></div>

<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">

            <!-- LEFT -->
            <div class="col-md-4">
                <div class="movie-img sticky-sb">
                    <img src="{{ movie.poster.url }}" alt="">
                </div>
            </div>

            <!-- RIGHT -->
            <div class="col-md-8">
                <div class="movie-single-ct main-content">

                    <h1 class="bd-hd">
                        {{ movie.title }}
                        <span>{{ movie.release_year }}</span>
                    </h1>

                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p><span>{{ movie.rating }}</span> /10</p>
                        </div>
                    </div>

                    <!-- OVERVIEW -->
                    <p>{{ movie.description }}</p>

                    <!-- CAST -->
                    <div class="title-hd-sm">
                        <h4>Cast</h4>
                    </div>

                    <div class="mvcast-item">
                        {% for actor in movie.cast.all %}
                        <div class="cast-it">
                            <div class="cast-left">
                                <img src="{{ actor.image.url }}" alt="">
                                <a href="#">{{ actor.name }}</a>
                            </div>
                            <p>{{ actor.role }}</p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}